<nav class="navbar navbar-light light-blue lighten-4">
    <!-- <div class="menu-btn" data-toggle="collapse" data-target="#navbarSupportedContent1"> -->
    <div class="menu-btn" (click)="isCollapsed = !isCollapsed" [ngClass]="{'open': isCollapsed}">
      <div class="menu-btn__burger"></div>
    </div>
    <a class="navbar-brand" routerLink="/">Expenses App</a>

    <div class="collapse navbar-collapse" [ngbCollapse]="!isCollapsed">

        <ul class="navbar-nav mr-auto">
            <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show"><a class="nav-link" routerLink="/" routerLinkActive="active">Home</a></li>
            <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show"><a class="nav-link" routerLink="/vehicles/" routerLinkActive="active">Vehicle</a></li>
            <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show"><button (click)="auth.signOut()">Logout</button></li>
        </ul>

        <div class="m-t-1" *ngIf="userService.userData">
            <vehicles-list></vehicles-list>
        </div>
    </div>

</nav>
