<div *ngIf="userService.user | async; then authenticated else guest"></div>
<ng-template #authenticated>
    <h2>Dashboard</h2>
    <app-expenses></app-expenses>
    <!-- <app-update-expense></app-update-expense> -->
    <div routerLink="/expense-edit/">
        <i class="app-circle-button add-button fa fa-plus-circle"></i>
    </div>

</ng-template>

<ng-template #guest>
    <h3>Hello guest please Login first</h3>
    <button (click)="authService.googleLogin()"><i class="fa fa-google"></i> Connect Google</button>
</ng-template>